// Map Featured Section
#map_featured {
    padding: 240px 0 330px;
    position: relative;
    
    .map_featured_content {
        position: relative;

        h2 {
            margin-bottom: 60px;
        }
        h4 {
            margin-bottom: 40px;
        }
        .partner_container {
            img {
                margin-right: 30px;
            }
        }
        .featured_map_img {
            position: absolute;
            top: 0;
            left:500px;
        }
        
    }
    
    
}