$secondary-border-color: rgba(0, 0, 0, 0.2);
$text-color: #212529;
$a-hover-color: #267df4;
$button-primary: #007bff;
$interface-background: #f5f5f8;
$perfect-plan-bg: #f4f4f5;
$indicator-color: #8c8f94;
$gold-star: #f2bc3b;
$box-shadow:  rgba(92, 95, 101, 0.18);