#featured {
    padding: 120px 0;
    .featured-item {
        margin-bottom: 4rem;
    }
    .f-icon i {
        margin-bottom: 2rem;
        font-size: 2.4rem;
        width: auto;
        height: auto;
    }
}



