#footer {
    color: #8c8f94;
    font-size: 16px;
    .footer-container {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .copyright-container {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    .logo {
         margin-bottom: 36px;
    }
    p {
        font-size: 14px;
        line-height: 24px;
    }
    
    .app_download img {
        margin-top: 6px;
    }
    .footer-links-1 {
        @include respond(phone) {
            margin: 0;
        }
    }
    ul li .title {
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #26272d;
        font-size: 12px;
    }
    
    ul li a {
        font-size: 1.6rem;
        color: #8c8f94;
        text-decoration: none;
        line-height: 36px;
    }
    
    ul li a:hover {
        color: #26272d;
    }
    
    .socials {
        margin-top: 32px;
    }
    
    .socials li {
        display: inline-block;
        font-size: 20px;
        margin-right: 20px;
    }
    
    .socials li a {
        color: rgba(19, 19, 21, 0.3);
    }
    
    .socials li:last-child {
        margin-right: 0;
    }
    
    .more-info {
        line-height: 2.4rem;
        font-size: 1.4rem;
        a {
            line-height: 2.4rem;
            font-size: 1.4rem;
        }
    }
    
    .made-by {
        font-size: 9px;
        font-weight: 700;
        line-height: 22px;
        color: #26272d;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        @include respond(phone) {
            text-align: left;
        }
    }
    
    .made-by a  {
        font-size: 1rem;
    }
}
  
  
  