.header {
    padding: 20rem 0 51rem;
    background-image: url("../images/banner_background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    &__iphone {
        position: absolute;
        bottom: -80rem;
        left: 50%;
        margin-left: -17rem;
    }
    @include respond(phone) {
        padding: 10rem 0 3rem;   
    }
}