#main_navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 44px 0;
    z-index: 10;
    font-size: 16px;
    background: transparent;
    transition: all 0.37s cubic-bezier(0, 0, 0.58, 1);


    a#navigation {
        position: absolute;
    }
}
ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    // margin: 0;
    li {
       
       padding-left: 20px;


        a {
            color: $text-color;
            text-decoration: none;
            
        }
        a:hover {
        color: $a-hover-color;
        text-decoration: none;
        
        }
    }
    
}