#subscribe {
    padding: 90px 0 50px;
  }
  
  #subscribe .btn {
    padding-left: 34px;
    padding-right: 34px;
  }
  
  #subscribe .promise {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
  }